<?xml version="1.0"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\Tierprice" type="ReachDigital\CurrencyPricing\Model\Product\Attribute\Backend\TierpriceWithCurrency"/>
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Tierprice" type="ReachDigital\CurrencyPricing\Model\ResourceModel\Product\Attribute\Backend\TierpriceWithCurrency"/>
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\TierPrice\UpdateHandler" type="ReachDigital\CurrencyPricing\Model\Product\Attribute\Backend\TierPrice\UpdateHandler"/>
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\TierPrice\SaveHandler" type="ReachDigital\CurrencyPricing\Model\Product\Attribute\Backend\TierPrice\SaveHandler"/>
    <preference for="Magento\Downloadable\Model\ResourceModel\Indexer\Price" type="ReachDigital\CurrencyPricing\Model\ResourceModel\Indexer\PriceIndexerWithCurrency"/>
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\IndexTableStructure" type="ReachDigital\CurrencyPricing\Model\ResourceModel\Product\Indexer\Price\IndexTableStructureWithCurrency"/>
    <preference for="Magento\Catalog\Pricing\Price\TierPrice" type="ReachDigital\CurrencyPricing\Pricing\Price\TierPriceWithCurrency"/>
    <preference for="Magento\Catalog\Pricing\Price\SpecialPrice" type="ReachDigital\CurrencyPricing\Pricing\Price\SpecialPriceWithCurrency"/>
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Collection" type="ReachDigital\CurrencyPricing\Model\ResourceModel\Product\CollectionWithCurrency"/>
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\SimpleProductPrice" type="ReachDigital\CurrencyPricing\Model\ResourceModel\Product\Indexer\Price\SimpleProductPriceWithCurrency"/>
    <type name="Magento\Store\Model\Store">
        <plugin name="ReplaceBaseCurrencyWithCurrenctCurrency" type="ReachDigital\CurrencyPricing\Plugin\MagentoStoreModel\ReplaceBaseCurrencyWithCurrentCurrency" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\Product\Type\Price">
        <plugin name="CurrencyPricingPrice" type="ReachDigital\CurrencyPricing\Plugin\MagentoCatalogModelProductType\CurrencyPricingPrice" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="ProductWithCurrencyPrices" type="ReachDigital\CurrencyPricing\Plugin\MagentoCatalogModelResourceModel\ProductWithCurrencyPrices" sortOrder="1" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\ResourceModel\Product\Indexer\Price\Configurable">
        <plugin name="ConfigurableProductPriceIndexerWithCurrency" type="ReachDigital\CurrencyPricing\Plugin\Magento\ConfigurableProduct\Model\ResourceModel\Product\Indexer\Price\ConfigurableWithCurrency" sortOrder="1" />
    </type>
    <type name="Magento\GroupedProduct\Model\ResourceModel\Product\Indexer\Price\Grouped">
        <plugin name="GroupedProductPriceIndexerWithCurrency" type="ReachDigital\CurrencyPricing\Plugin\Magento\GroupedProduct\Model\ResourceModel\Product\Indexer\Price\GroupedWithCurrency" sortOrder="1" />
    </type>
    <type name="Magento\Bundle\Model\ResourceModel\Indexer\Price">
        <plugin name="BundleProductPriceIndexerWithCurrency" type="ReachDigital\CurrencyPricing\Plugin\Magento\Bundle\Model\ResourceModel\Indexer\BundlePriceWithCurrency" sortOrder="1" />
    </type>
    <virtualType name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\VirtualProductPrice" type="ReachDigital\CurrencyPricing\Model\ResourceModel\Product\Indexer\Price\SimpleProductPriceWithCurrency">
        <arguments>
            <argument name="productType" xsi:type="string">virtual</argument>
        </arguments>
    </virtualType>
</config>
